---
layout: default
title: Visual Library
permalink: /visual-library.html
id: visual-library
css: jamdoxx
---

<section id="visual-library">
    <h1>{{ page.title }}</h1>
</section>
<article id="visual-library">
    <p class="_large">The <strong>Stack Overflow</strong> Visual Library is built upon the principles outlined in <a href="https://docs.google.com/a/stackoverflow.com/document/d/1-OFm-unrYuZL-SGCDS3tV-IQOJA3IHuj45ctnj0IgzI/edit?usp=sharing">this doc.</a>
    </p>
</article>

<div class="visualGrid">

	<div class="-row">
		<div class="-col3 _background-grayLighter">
			<div class="-content">
				<img src="../jam/images/illos/figureUnicorn.svg">
			</div>
		</div>

		<div class="-col3 _background-amber">
			<div class="-content">
				<img src="../jam/images/illos/chartGrowth.svg">
			</div>
		</div>

		<div class="-col3 _background-yellowBright">
			<div class="-content">
				<img src="../jam/images/illos/chartWomenGrowth.svg">
			</div>
		</div>

		<div class="-col3 _background-amber">
			<div class="-content">
				<img src="../jam/images/illos/devEducation.svg">
			</div>
		</div>
	</div>

	<div class="-row">
		<div class="-col3 _background-yellowBright">
			<div class="-content">
				<img src="../jam/images/illos/devEmail.svg">
			</div>
		</div>

		<div class="-col3 _background-amber">
			<div class="-content">
				<img src="../jam/images/illos/devGeo.svg">
			</div>
		</div>

		<div class="-col3 _background-orange">
			<div class="-content">
				<img src="../jam/images/illos/devHappiness.svg">
			</div>
		</div>

		<div class="-col3 _background-amber">
			<div class="-content">
				<img src="../jam/images/illos/devInterview.svg">
			</div>
		</div>
	</div>

	<div class="-row">
		<div class="-col3 _background-yellowBright">
			<div class="-content">
				<img src="../jam/images/illos/devIndustry.svg">
			</div>
		</div>

		<div class="-col3 _background-orange">
			<div class="-content">
				<img src="../jam/images/illos/devJobPosting.svg">
			</div>
		</div>

		<div class="-col3 _background-orange">
			<div class="-content">
				<img src="../jam/images/illos/devLanguageJS.svg">
			</div>
		</div>

		<div class="-col3 _background-amber">
			<div class="-content">
				<img src="../jam/images/illos/devStack.svg">
			</div>
		</div>
	</div>

	<div class="-row">

		<div class="-col3 _background-orange">
			<div class="-content">
				<img src="../jam/images/illos/figureDev.svg">
			</div>
		</div>

		<div class="-col3 _background-grayLighter">
			<div class="-content">
				<img src="../jam/images/illos/policySecurity.svg">
			</div>
		</div>

		<div class="-col3 _background-grayLighter">
			<div class="-content">
				<img src="../jam/images/illos/policyProfile.svg">
			</div>
		</div>

		<div class="-col3">
			<div class="-content">
				<img src="../jam/images/illos/policySpam.svg">
			</div>
		</div>

	</div>

</div>

<!-- {% include grid/basicUsage.html %}
{% include grid/columns.html %}
{% include grid/columnsOffset.html %}
{% include grid/columnsNesting.html %}
{% include grid/columnsOrder.html %}
{% include grid/gutters.html %}
 -->