<nav class="affix hidden-print" role="complementary">
    <a href="index.html" class="logo-glyph">
        <img src="lib/images/logos/logo-glyph.svg" width="27" alt="Stack Overflow Careers"/>
    </a>
    <ul class="nav _column">
        <li class="-item">
            <a href="index.html">Getting Started</a>
            <ul class="nav _column _nested">
                <li class="-item"><a href="#home-top">Overview</a></li>
                <li class="-item"><a href="#lesscss-installation">Installation</a></li>
                <li class="-item"><a href="#lesscss-contributing">Contributing
                </a></li>
            </ul>
        </li>
        <li class="-item">
            <a href="grid.html">Grids</a>
            <ul class="nav _column _nested">
                <li class="-item"><a href="#grid-intro">Introduction</a></li>
                <li class="-item"><a href="#grid-basic-usage">Basic Usage</a></li>
                <li class="-item"><a href="#grid-column-wrapping">Column Wrapping</a></li>
                <li class="-item"><a href="#grid-offsetting-columns">Offsetting Columns</a></li>
                <li class="-item"><a href="#grid-nesting-columns">Nesting Columns</a></li>
                <li class="-item"><a href="#grid-column-ordering">Column Ordering</a></li>
                <li class="-item"><a href="#grid-less-mixins-and-variables">Less Mixins &amp; Variables</a></li>
                <li class="-item"><a href="#grid-gutters">Gutters</a></li>
            </ul>
        </li>
        <li class="-item">
            <a href="base.html">Base Styles</a>
            <ul class="nav _column _nested">
                <li class="-item"><a href="#base-top">Overview</a></li>
                <li class="-item">
                    <a href="#section-type">Typography</a>
                    <ul class="nav _column _nested">
                        <li class="-item"><a href="#type-intro">Introduction</a></li>
                        <li class="-item"><a href="#type-fonts">Typefaces</a></li>
                        <li class="-item"><a href="#type-headlines">Headlines</a></li>
                        <li class="-item"><a href="#type-copy">Copy</a></li>
                        <li class="-item"><a href="#type-sizes">Sizes</a></li>
                        <li class="-item"><a href="#type-alignment">Alignment</a></li>
                        <li class="-item"><a href="#type-colors">Colors</a></li>
                        <li class="-item"><a href="#type-quotes">Quotes</a></li>
                        <li class="-item"><a href="#type-lists">Lists</a></li>
                        <!--<li class="-item"><a href="#type-helper">Helper Classes</a></li>-->
                    </ul>
                </li>
                <li class="-item">
                    <a href="#section-colors">Colors</a>
                    <ul class="nav _column _nested">
                        <!--<li class="-item"><a href="#colors-intro">Introduction</a></li>
                        <li class="-item"><a href="#colors-hsl">HSL</a></li>
                        <li class="-item"><a href="#colors-variables">Variables</a></li>-->
                        <li class="-item"><a href="#colors-primary">Primary</a></li>
                        <li class="-item"><a href="#colors-secondary">Secondary</a></li>
                        <!--<li class="-item"><a href="#colors-product">Product</a></li>-->
                    </ul>
                </li>
                <li class="-item">
                    <a href="#section-forms">Forms</a>
                    <ul class="nav _column _nested">
                        <li class="-item"><a href="#forms-intro">Introduction</a></li>
                        <li class="-item"><a href="#forms-default">Default State</a></li>
                        <li class="-item"><a href="#forms-disabled">Disabled State</a></li>
                        <li class="-item"><a href="#forms-validation">Validation States</a></li>
                        <li class="-item"><a href="#forms-sizes">Sizes</a></li>
                    </ul>
                </li>
                <li class="-item">
                    <a href="#section-buttons">Buttons</a>
                    <ul class="nav _column _nested">
                        <li class="-item"><a href="#buttons-base">Style</a></li>
                        <li class="-item"><a href="#buttons-layout">Layout</a></li>
                    </ul>
                </li>
                <li class="-item">
                    <a href="#section-tables">Tables</a>
                    <ul class="nav _column _nested">
                        <li class="-item"><a href="#tables-intro">Introduction</a></li>
                        <li class="-item"><a href="#tables-base">Base Style</a></li>
                        <li class="-item"><a href="#tables-base">Table Variants</a></li>
                        <li class="-item"><a href="#tables-sizing">Table Sizing</a></li>
                        <li class="-item"><a href="#tables-styles">Table Styles</a></li>
                    </ul>
                </li>
                <li class="-item">
                    <a href="#section-icons">Icons</a>
                    <ul class="nav _column _nested">
                        <!--<li class="-item"><a href="#colors-intro">Introduction</a></li>-->
                        <li class="-item"><a href="#icons-uiIcons">UI Icons</a></li>
                        <li class="-item"><a href="#icons-jobCampaigns">Job Campaigns</a></li>
                    </ul>
                </li>
                <li class="-item">
                    <a href="#section-badges">Badges</a>
                    <ul class="nav _column _nested">
                        <li class="-item"><a href="#badges-base">Base Style</a></li>
                        <li class="-item"><a href="#badges-styles">Style Variations</a></li>
                    </ul>
                </li>
                <li class="-item">
                    <a href="#section-tags">Tags</a>
                    <ul class="nav _column _nested">
                        <li class="-item"><a href="#tags-base">Base Style</a></li>
                        <li class="-item"><a href="#tags-styles">Style Variations</a></li>
                        <li class="-item"><a href="#tags-sizes">Sizes</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="-item">
            <a href="modules.html">Modules</a>
            <ul class="nav _column _nested">
                <li class="-item"><a href="#modules-top">Overview</a></li>
                <li class="-item">
                    <a href="#section-headers">Headers</a>
                    <ul class="nav _column _nested">
                        <li class="-item"><a href="#headers-intro">Introduction</a></li>
                        <li class="-item"><a href="#headers-page">Page</a></li>
                        <li class="-item"><a href="#headers-sectionBase">Section, Default</a></li>
                        <li class="-item"><a href="#headers-sectionBorders">Section, Borders</a></li>
                    </ul>
                </li>
                <li class="-item">
                    <a href="#section-tabs">Tabs</a>
                    <ul class="nav _column _nested">
                        <li class="-item"><a href="#tabs-intro">Introduction</a></li>
                        <li class="-item"><a href="#tabs-base">Base Style</a></li>
                        <li class="-item"><a href="#tabs-board">Tab Dashboard</a></li>
                    </ul>
                </li>
                <li class="-item">
                    <a href="#section-cards">Cards</a>
                    <ul class="nav _column _nested">
                        <li class="-item"><a href="#cards-intro">Introduction</a></li>
                        <li class="-item"><a href="#cards-jobs">Job Listings</a></li>
                        <li class="-item"><a href="#cards-pages">Company Pages</a></li>
                    </ul>
                </li>
                <li class="-item">
                    <a href="#section-stats">Stats</a>
                    <ul class="nav _column _nested">
                        <li class="-item"><a href="#stats-intro">Introduction</a></li>
                        <li class="-item"><a href="#stats-base">Base Style</a></li>
                        <li class="-item"><a href="#stats-leaderboard">Leaderboard</a></li>
                    </ul>
                </li>
                <li class="-item">
                    <a href="#section-leaderboard">Leaderboard</a>
                    <ul class="nav _column _nested">
                        <li class="-item"><a href="#leaderboard-intro">Introduction</a></li>
                        <li class="-item"><a href="#leaderboard-base">Default Layout</a></li>
                        <li class="-item"><a href="#leaderboard-expanded">Layout Variations</a></li>
                    </ul>
                </li>
                <li class="-item">
                    <a href="#section-rollup">Content Rollup</a>
                    <ul class="nav _column _nested">
                        <li class="-item"><a href="#rollup-intro">Introduction</a></li>
                        <li class="-item"><a href="#rollup-base">Base Rollup</a></li>
                        <li class="-item"><a href="#rollup-expanded">Expanded Rollup</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="-item">
            <a href="visual-library.html">Visual Library</a>
        </li>
        <li class="-item"><a class="is-disabled">Views</a></li>
</nav>