<section id="section-colors">
    <header>
        <h1 class="_section">Colors</h1>
    </header>
    <article id="colors-primary">
        <h2 class="_subSection">Primary</h2>
        <p class="_large">These are the primary, on-screen colors for Stack Overflow Careers.</p>
        <ul class="exampleCards">
            <li class="-item color-orange _big"><p>Primary Orange<br/><code>@color-orange</code></p></li>
            <li class="-item color-blue _big"><p>Primary Blue<br/><code>@color-blue</code></p></li>
            <li class="-item color-grayLight _big"><p>Slate Gray<br/><code>@color-grayLight</code></p></li>
            <li class="-item color-grayMid _big"><p>Medium Gray<br/><code>@color-grayMid</code></p></li>
            <li class="-item color-grayDark _big"><p>Dark Gray<br/><code>@color-grayDark</code></p></li>
        </ul>
    </article>
    <article id="colors-secondary">
        <h2 class="_subSection">Secondary</h2>
        <p class="_large">These colors are used to support and enhance the Stack Overflow brand experience, help organize and isolate information into distinct groups, and alert users to items when it requires their attention.</p>
        <ul class="exampleCards">
            <li class="-item color-green"><p>Lime Green<br/><code>@color-green</code></p></li>
            <li class="-item color-yellow"><p>Goldenrod<br/><code>@color-yellow</code></p></li>
            <li class="-item color-red"><p>Red<br/><code>@color-red</code></p></li>
            <li class="-item color-black"><p>Black<br/><code>@color-black</code></p></li>
        </ul>
    </article>
</section>