<section id="section-colors">
    <header>
        <h1 class="_section">Colors</h1>
    </header>
    <article id="colors-primary">
        <h2 class="_subSection">Primary</h2>
        <p class="_large">These are the primary colors for Stack Overflow. Use these for your UI elements, illustrations, or company swag.</p>
        <ul class="exampleCards -row _gutter">
            <li class="-item -col4">
                <div class="orange">
                    <header>
                        <h3 class="-title">Stack Orange</h3>
                        <table>
                            <tr>
                                <td><strong>Pantone</strong></td>
                                <td><code>P1505C</code></td>
                            </tr>
                            <tr>
                                <td><strong>CMYK</strong></td>
                                <td><code>00 70 100 00</code></td>
                            </tr>
                            <tr>
                                <td><strong>RGB</strong></td>
                                <td><code>251 109 33</code></td>
                            </tr>
                            <tr>
                                <td><strong>HSL</strong></td>
                                <td><code>21&#176; 96% 56%</code></td>
                            </tr>
                            <tr>
                                <td><strong>HEX</strong></td>
                                <td><code>#FB6D21</code></td>
                            </tr>
                            <tr>
                                <td><strong>LESS</strong></td>
                                <td><code>@orange</code></td>
                            </tr>
                        </table>
                    </header>
                    <section class="-stops">
                        <div class="-orange100">
                            <h4 class="-weight">100</h4>
                            <code>@orange-900</code>
                        </div>
                        <div class="-orange200">
                            <h4 class="-weight">200</h4>
                            <code>@orange-200</code>
                        </div>
                        <div class="-orange300">
                            <h4 class="-weight">300</h4>
                            <code>@orange-300</code>
                        </div>
                        <div class="-orange400">
                            <h4 class="-weight">400</h4>
                            <code>@orange-400</code>
                        </div>
                        <div class="-orange500">
                            <h4 class="-weight">500</h4>
                            <code>@orange-500</code>
                        </div>
                        <div class="-orange600">
                            <h4 class="-weight">600</h4>
                            <code>@orange-600</code>
                        </div>
                        <div class="-orange700">
                            <h4 class="-weight">700</h4>
                            <code>@orange-700</code>
                        </div>
                        <div class="-orange800">
                            <h4 class="-weight">800</h4>
                            <code>@orange-800</code>
                        </div>
                        <div class="-orange900">
                            <h4 class="-weight">900</h4>
                            <code>@orange-900</code>
                        </div>
                    </section>
                </div>
            </li>
            <li class="-item -col4">
                <div class="blue">
                    <header>
                        <h3 class="-title">Sky Blue</h3>
                        <table>
                            <tr>
                                <td><strong>Pantone</strong></td>
                                <td><code>P2995C</code></td>
                            </tr>
                            <tr>
                                <td><strong>CMYK</strong></td>
                                <td><code>80 15 00 00</code></td>
                            </tr>
                            <tr>
                                <td><strong>RGB</strong></td>
                                <td><code>25 147 250</code></td>
                            </tr>
                            <tr>
                                <td><strong>HSL</strong></td>
                                <td><code>207&#176; 96% 54%</code></td>
                            </tr>
                            <tr>
                                <td><strong>HEX</strong></td>
                                <td><code>#1993FA</code></td>
                            </tr>
                            <tr>
                                <td><strong>LESS</strong></td>
                                <td><code>@blue</code></td>
                            </tr>
                        </table>
                    </header>
                    <section class="-stops">
                        <div class="-blue100">
                            <h4 class="-weight">100</h4>
                            <code>@blue-900</code>
                        </div>
                        <div class="-blue200">
                            <h4 class="-weight">200</h4>
                            <code>@blue-200</code>
                        </div>
                        <div class="-blue300">
                            <h4 class="-weight">300</h4>
                            <code>@blue-300</code>
                        </div>
                        <div class="-blue400">
                            <h4 class="-weight">400</h4>
                            <code>@blue-400</code>
                        </div>
                        <div class="-blue500">
                            <h4 class="-weight">500</h4>
                            <code>@blue-500</code>
                        </div>
                        <div class="-blue600">
                            <h4 class="-weight">600</h4>
                            <code>@blue-600</code>
                        </div>
                        <div class="-blue700">
                            <h4 class="-weight">700</h4>
                            <code>@blue-700</code>
                        </div>
                        <div class="-blue800">
                            <h4 class="-weight">800</h4>
                            <code>@blue-800</code>
                        </div>
                        <div class="-blue900">
                            <h4 class="-weight">900</h4>
                            <code>@blue-900</code>
                        </div>
                    </section>
                </div>
            </li>
            <li class="-item -col4">
                <div class="gray">
                    <header>
                        <h3 class="-title">Cool Gray</h3>
                        <table>
                            <tr>
                                <td><strong>Pantone</strong></td>
                                <td><code>P7545C</code></td>
                            </tr>
                            <tr>
                                <td><strong>CMYK</strong></td>
                                <td><code>77 60 44 26</code></td>
                            </tr>
                            <tr>
                                <td><strong>RGB</strong></td>
                                <td><code>66 80 92</code></td>
                            </tr>
                            <tr>
                                <td><strong>HSL</strong></td>
                                <td><code>208&#176; 16% 31%</code></td>
                            </tr>
                            <tr>
                                <td><strong>HEX</strong></td>
                                <td><code>#1993FA</code></td>
                            </tr>
                            <tr>
                                <td><strong>LESS</strong></td>
                                <td><code>@gray</code></td>
                            </tr>
                        </table>
                    </header>
                    <section class="-stops">
                        <div class="-gray100">
                            <h4 class="-weight">100</h4>
                            <code>@gray-900</code>
                        </div>
                        <div class="-gray200">
                            <h4 class="-weight">200</h4>
                            <code>@gray-200</code>
                        </div>
                        <div class="-gray300">
                            <h4 class="-weight">300</h4>
                            <code>@gray-300</code>
                        </div>
                        <div class="-gray400">
                            <h4 class="-weight">400</h4>
                            <code>@gray-400</code>
                        </div>
                        <div class="-gray500">
                            <h4 class="-weight">500</h4>
                            <code>@gray-500</code>
                        </div>
                        <div class="-gray600">
                            <h4 class="-weight">600</h4>
                            <code>@gray-600</code>
                        </div>
                        <div class="-gray700">
                            <h4 class="-weight">700</h4>
                            <code>@gray-700</code>
                        </div>
                        <div class="-gray800">
                            <h4 class="-weight">800</h4>
                            <code>@gray-800</code>
                        </div>
                        <div class="-gray900">
                            <h4 class="-weight">900</h4>
                            <code>@gray-900</code>
                        </div>
                    </section>
                </div>
            </li>
        </ul>
    </article>
    <article id="colors-secondary">
        <h2 class="_subSection">Secondary Colors</h2>
        <p class="_large">These colors are used to support and enhance the Stack Overflow brand experience. They provide a change-of-pace from the core colors. These colors should always be partnered with a primary color.</p>
        <ul class="exampleCards -row _gutter">
            <li class="-item -col4">
                <div class="golden">
                    <header>
                        <h3 class="-title">Golden Poppy</h3>
                        <table>
                            <tr>
                                <td><strong>Pantone</strong></td>
                                <td><code>P130C</code></td>
                            </tr>
                            <tr>
                                <td><strong>CMYK</strong></td>
                                <td><code>02 38 100 00</code></td>
                            </tr>
                            <tr>
                                <td><strong>RGB</strong></td>
                                <td><code>252 168 41</code></td>
                            </tr>
                            <tr>
                                <td><strong>HSL</strong></td>
                                <td><code>36&#176; 97% 57%</code></td>
                            </tr>
                            <tr>
                                <td><strong>HEX</strong></td>
                                <td><code>#FCA829</code></td>
                            </tr>
                            <tr>
                                <td><strong>LESS</strong></td>
                                <td><code>@golden</code></td>
                            </tr>
                        </table>
                    </header>
                    <section class="-stops">
                        <div class="-golden100">
                            <h4 class="-weight">100</h4>
                            <code>@golden-900</code>
                        </div>
                        <div class="-golden200">
                            <h4 class="-weight">200</h4>
                            <code>@golden-200</code>
                        </div>
                        <div class="-golden300">
                            <h4 class="-weight">300</h4>
                            <code>@golden-300</code>
                        </div>
                        <div class="-golden400">
                            <h4 class="-weight">400</h4>
                            <code>@golden-400</code>
                        </div>
                        <div class="-golden500">
                            <h4 class="-weight">500</h4>
                            <code>@golden-500</code>
                        </div>
                        <div class="-golden600">
                            <h4 class="-weight">600</h4>
                            <code>@golden-600</code>
                        </div>
                        <div class="-golden700">
                            <h4 class="-weight">700</h4>
                            <code>@golden-700</code>
                        </div>
                        <div class="-golden800">
                            <h4 class="-weight">800</h4>
                            <code>@golden-800</code>
                        </div>
                        <div class="-golden900">
                            <h4 class="-weight">900</h4>
                            <code>@golden-900</code>
                        </div>
                    </section>
                </div>
            </li>
            <li class="-item -col4">
                <div class="green">
                    <header>
                        <h3 class="-title">Jungle Green</h3>
                        <table>
                            <tr>
                                <td><strong>Pantone</strong></td>
                                <td><code>TBD</code></td>
                            </tr>
                            <tr>
                                <td><strong>CMYK</strong></td>
                                <td><code>TBD</code></td>
                            </tr>
                            <tr>
                                <td><strong>RGB</strong></td>
                                <td><code>55 196 116</code></td>
                            </tr>
                            <tr>
                                <td><strong>HSL</strong></td>
                                <td><code>146&#176; 56% 49%</code></td>
                            </tr>
                            <tr>
                                <td><strong>HEX</strong></td>
                                <td><code>#37C474</code></td>
                            </tr>
                            <tr>
                                <td><strong>LESS</strong></td>
                                <td><code>@green</code></td>
                            </tr>
                        </table>
                    </header>
                    <section class="-stops">
                        <div class="-green100">
                            <h4 class="-weight">100</h4>
                            <code>@green-900</code>
                        </div>
                        <div class="-green200">
                            <h4 class="-weight">200</h4>
                            <code>@green-200</code>
                        </div>
                        <div class="-green300">
                            <h4 class="-weight">300</h4>
                            <code>@green-300</code>
                        </div>
                        <div class="-green400">
                            <h4 class="-weight">400</h4>
                            <code>@green-400</code>
                        </div>
                        <div class="-green500">
                            <h4 class="-weight">500</h4>
                            <code>@green-500</code>
                        </div>
                        <div class="-green600">
                            <h4 class="-weight">600</h4>
                            <code>@green-600</code>
                        </div>
                        <div class="-green700">
                            <h4 class="-weight">700</h4>
                            <code>@green-700</code>
                        </div>
                        <div class="-green800">
                            <h4 class="-weight">800</h4>
                            <code>@green-800</code>
                        </div>
                        <div class="-green900">
                            <h4 class="-weight">900</h4>
                            <code>@green-900</code>
                        </div>
                    </section>
                </div>
            </li>
            <li class="-item -col4">
                <div class="azure">
                    <header>
                        <h3 class="-title">Azure</h3>
                        <table>
                            <tr>
                                <td><strong>Pantone</strong></td>
                                <td><code>TBD</code></td>
                            </tr>
                            <tr>
                                <td><strong>CMYK</strong></td>
                                <td><code>TBD</code></td>
                            </tr>
                            <tr>
                                <td><strong>RGB</strong></td>
                                <td><code>14 101 176</code></td>
                            </tr>
                            <tr>
                                <td><strong>HSL</strong></td>
                                <td><code>208&#176; 85% 37%</code></td>
                            </tr>
                            <tr>
                                <td><strong>HEX</strong></td>
                                <td><code>#0E65B0</code></td>
                            </tr>
                            <tr>
                                <td><strong>LESS</strong></td>
                                <td><code>@azure</code></td>
                            </tr>
                        </table>
                    </header>
                    <section class="-stops">
                        <div class="-azure100">
                            <h4 class="-weight">100</h4>
                            <code>@azure-900</code>
                        </div>
                        <div class="-azure200">
                            <h4 class="-weight">200</h4>
                            <code>@azure-200</code>
                        </div>
                        <div class="-azure300">
                            <h4 class="-weight">300</h4>
                            <code>@azure-300</code>
                        </div>
                        <div class="-azure400">
                            <h4 class="-weight">400</h4>
                            <code>@azure-400</code>
                        </div>
                        <div class="-azure500">
                            <h4 class="-weight">500</h4>
                            <code>@azure-500</code>
                        </div>
                        <div class="-azure600">
                            <h4 class="-weight">600</h4>
                            <code>@azure-600</code>
                        </div>
                        <div class="-azure700">
                            <h4 class="-weight">700</h4>
                            <code>@azure-700</code>
                        </div>
                        <div class="-azure800">
                            <h4 class="-weight">800</h4>
                            <code>@azure-800</code>
                        </div>
                        <div class="-azure900">
                            <h4 class="-weight">900</h4>
                            <code>@azure-900</code>
                        </div>
                    </section>
                </div>
            </li>
        </ul>
    </article>
    <article id="colors-accent">
        <h2 class="_subSection">Accent Colors</h2>
        <p class="_large">These colors are used to draw attention to UI elements, highlighting areas of interest, calls-to-action, and important information.</p>
        <ul class="exampleCards -row _gutter">
            <li class="-item -col4">
                <div class="yellow">
                    <header>
                        <h3 class="-title">Cyber Yellow</h3>
                        <table>
                            <tr>
                                <td><strong>Pantone</strong></td>
                                <td><code>TBD</code></td>
                            </tr>
                            <tr>
                                <td><strong>CMYK</strong></td>
                                <td><code>TBD</code></td>
                            </tr>
                            <tr>
                                <td><strong>RGB</strong></td>
                                <td><code>253 221 50</code></td>
                            </tr>
                            <tr>
                                <td><strong>HSL</strong></td>
                                <td><code>51&#176; 98% 59%</code></td>
                            </tr>
                            <tr>
                                <td><strong>HEX</strong></td>
                                <td><code>#FDDD32</code></td>
                            </tr>
                            <tr>
                                <td><strong>LESS</strong></td>
                                <td><code>@yellow</code></td>
                            </tr>
                        </table>
                    </header>
                    <section class="-stops">
                        <div class="-yellow100">
                            <h4 class="-weight">100</h4>
                            <code>@yellow-900</code>
                        </div>
                        <div class="-yellow200">
                            <h4 class="-weight">200</h4>
                            <code>@yellow-200</code>
                        </div>
                        <div class="-yellow300">
                            <h4 class="-weight">300</h4>
                            <code>@yellow-300</code>
                        </div>
                        <div class="-yellow400">
                            <h4 class="-weight">400</h4>
                            <code>@yellow-400</code>
                        </div>
                        <div class="-yellow500">
                            <h4 class="-weight">500</h4>
                            <code>@yellow-500</code>
                        </div>
                        <div class="-yellow600">
                            <h4 class="-weight">600</h4>
                            <code>@yellow-600</code>
                        </div>
                        <div class="-yellow700">
                            <h4 class="-weight">700</h4>
                            <code>@yellow-700</code>
                        </div>
                        <div class="-yellow800">
                            <h4 class="-weight">800</h4>
                            <code>@yellow-800</code>
                        </div>
                        <div class="-yellow900">
                            <h4 class="-weight">900</h4>
                            <code>@yellow-900</code>
                        </div>
                    </section>
                </div>
            </li>
            <li class="-item -col4">
                <div class="turquoise">
                    <header>
                        <h3 class="-title">Turquoise</h3>
                        <table>
                            <tr>
                                <td><strong>Pantone</strong></td>
                                <td><code>TBD</code></td>
                            </tr>
                            <tr>
                                <td><strong>CMYK</strong></td>
                                <td><code>TBD</code></td>
                            </tr>
                            <tr>
                                <td><strong>RGB</strong></td>
                                <td><code>43 204 212</code></td>
                            </tr>
                            <tr>
                                <td><strong>HSL</strong></td>
                                <td><code>183&#176; 66% 50%</code></td>
                            </tr>
                            <tr>
                                <td><strong>HEX</strong></td>
                                <td><code>#2BCCD4</code></td>
                            </tr>
                            <tr>
                                <td><strong>LESS</strong></td>
                                <td><code>@turquoise</code></td>
                            </tr>
                        </table>
                    </header>
                    <section class="-stops">
                        <div class="-turquoise100">
                            <h4 class="-weight">100</h4>
                            <code>@turquoise-900</code>
                        </div>
                        <div class="-turquoise200">
                            <h4 class="-weight">200</h4>
                            <code>@turquoise-200</code>
                        </div>
                        <div class="-turquoise300">
                            <h4 class="-weight">300</h4>
                            <code>@turquoise-300</code>
                        </div>
                        <div class="-turquoise400">
                            <h4 class="-weight">400</h4>
                            <code>@turquoise-400</code>
                        </div>
                        <div class="-turquoise500">
                            <h4 class="-weight">500</h4>
                            <code>@turquoise-500</code>
                        </div>
                        <div class="-turquoise600">
                            <h4 class="-weight">600</h4>
                            <code>@turquoise-600</code>
                        </div>
                        <div class="-turquoise700">
                            <h4 class="-weight">700</h4>
                            <code>@turquoise-700</code>
                        </div>
                        <div class="-turquoise800">
                            <h4 class="-weight">800</h4>
                            <code>@turquoise-800</code>
                        </div>
                        <div class="-turquoise900">
                            <h4 class="-weight">900</h4>
                            <code>@turquoise-900</code>
                        </div>
                    </section>
                </div>
            </li>
            <li class="-item -col4">
                <div class="red">
                    <header>
                        <h3 class="-title">Electric Crimson</h3>
                        <table>
                            <tr>
                                <td><strong>Pantone</strong></td>
                                <td><code>TBD</code></td>
                            </tr>
                            <tr>
                                <td><strong>CMYK</strong></td>
                                <td><code>TBD</code></td>
                            </tr>
                            <tr>
                                <td><strong>RGB</strong></td>
                                <td><code>240 17 26</code></td>
                            </tr>
                            <tr>
                                <td><strong>HSL</strong></td>
                                <td><code>358&#176; 88% 50%</code></td>
                            </tr>
                            <tr>
                                <td><strong>HEX</strong></td>
                                <td><code>#F0111A</code></td>
                            </tr>
                            <tr>
                                <td><strong>LESS</strong></td>
                                <td><code>@red</code></td>
                            </tr>
                        </table>
                    </header>
                    <section class="-stops">
                        <div class="-red100">
                            <h4 class="-weight">100</h4>
                            <code>@red-900</code>
                        </div>
                        <div class="-red200">
                            <h4 class="-weight">200</h4>
                            <code>@red-200</code>
                        </div>
                        <div class="-red300">
                            <h4 class="-weight">300</h4>
                            <code>@red-300</code>
                        </div>
                        <div class="-red400">
                            <h4 class="-weight">400</h4>
                            <code>@red-400</code>
                        </div>
                        <div class="-red500">
                            <h4 class="-weight">500</h4>
                            <code>@red-500</code>
                        </div>
                        <div class="-red600">
                            <h4 class="-weight">600</h4>
                            <code>@red-600</code>
                        </div>
                        <div class="-red700">
                            <h4 class="-weight">700</h4>
                            <code>@red-700</code>
                        </div>
                        <div class="-red800">
                            <h4 class="-weight">800</h4>
                            <code>@red-800</code>
                        </div>
                        <div class="-red900">
                            <h4 class="-weight">900</h4>
                            <code>@red-900</code>
                        </div>
                    </section>
                </div>
            </li>
        </ul>
    </article>
</section>