<section id="section-cards">
    <header>
        <h1 class="_section">Cards</h1>
    </header>

    <article id="tabs-intro">
        <h2 class="_subSection">Introduction</h2>
        <p class="_large">Cards are contained modules which highlight key information.</p>
    </article>
    <article id="tabs-base">
        <h2 class="_subSection">Job Listings</h2>
        <div class="exampleBlock">
            <dl class="_rows">
                <dt class="_label">Cards, <code>.card .-jobs</code></dt>
                <dd class="_example">
                    <div class="-row _gutter">
                        <div class="cards -jobs -col6">
                            <header class="-row">
                                <div class="-col11">
                                    <h1 class="-title"><a href="#">Senior Product Designer</a></h1>
                                    <p class="-meta">Owned by <strong>Pieter DePree</strong> &bullet; Expires <strong>June 26</strong></p>
                                </div>
                                <div class="-col1 _textRight">
                                    <div class="popout">
                                        <a href="#"><span class="icon -ui-downArrow">Actions</span></a>
                                    </div>
                                </div>
                            </header>
                            <aside class="-notice -row">
                                <div class="-col8"><strong>Expires in 14 days.</strong></div>
                                <div class="-col4 _textRight"><a href="#">Renew listing</a></div>
                            </aside>
                            <section class="-stats -row">
                                <div class="-label -col12">Stats <small>last 30 days</small></div>
                                <div class="-number">1120 <small>Views</small></div>
                                <div class="-number">54 <small>Applications</small></div>
                            </section>
                        </div>
                    </div>
                </dd>
            </dl>
        </div>
        <div class="codeBlock">
{% highlight html linenos %}

{% endhighlight %}
        </div>
    </article>
</section>